<?xml version="1.0"?>
<launch>
   
    <group ns="brov">
        <!-- Load controller configurations (vehicle and arm) from YAML file to parameter server -->
        <rosparam file="$(find bluerov_ffg)/config/brov.yaml" command="load"/>
        <!--<node name="pid_control" pkg="freefloating_gazebo" type="pid_control" output="screen" respawn="true">
             <param name="body_control" value="depth"/>
        </node>-->
        
        <!-- Load gui -->
        <include file="$(find freefloating_gazebo)/gui/depth_gui.launch"/>
    </group>
   
</launch>
