<?xml version="1.0"?>
<launch>
    
    <arg name="robot" default="brov"/>
    <arg name="pose" default="False"/>

<group ns="brov"> 
    
    <node name="pose_publisher" pkg="slider_publisher" type="slider_publisher" if="$(arg pose)">
        <param name="file" value="$(find bluerov_ffg)/launch/PoseStamped.yaml"/>
    </node>
    <param name="robot_description" command="$(find xacro)/xacro $(find bluerov_ffg)/urdf/$(arg robot).xacro"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <node name="tf_bridge" pkg="freefloating_gazebo" type="rviz_bridge.py" output="screen" respawn="true">       
    </node>
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find bluerov_ffg)/config/brov.rviz" />
</group>
</launch>
