<?xml version="1.0"?>
<launch>   
    <group ns="brov">
        <!-- Load controller configurations (vehicle and arm) from YAML file to parameter server -->
        <rosparam file="$(find bluerov_ffg)/config/brov.yaml" command="load"/>
        <node name="pid_control" pkg="freefloating_gazebo" type="pid_control" output="screen" respawn="true">
            <param name="body_control" value="velocity"/>
        </node>
        
        <!-- Load gui if needed -->
        <node name="velocity_gui" pkg="slider_publisher" type="slider_publisher" output="screen" respawn="true"">
        <param name="file" value="$(find bluerov_ffg)/launch/Velocity.yaml"/>
        </node>
    </group>   
</launch>
