<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
   <arg name="uwsim" default="false"/>
    <arg name="shaders" default="true"/>
  <!-- virtual arg for uwsim shaders -->
  <arg name="disableShaders" default="" if="$(arg shaders)"/>  
  <arg name="disableShaders" default="--disableShaders" unless="$(arg shaders)"/> 
  

    <!-- Launch Gazebo with underwater world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="false" if="$(arg uwsim)"/>
        <arg name="paused" value="true"/>
        <arg name="world_name" value="$(find freefloating_gazebo)/world/underwater.world"/>
    </include>
    
    <group if="$(arg uwsim)">
        <!-- launch uwsim -->
        <node name="uwsim" pkg="uwsim" type="uwsim" 
            args="$(arg disableShaders) --dataPath $(find bluerov_ffg) --dataPath $(find freefloating_gazebo_demo) --configfile scenes/brov.xml" respawn="true"/>
    </group>
     
    
    <group ns="brov">
         <!-- spawn in Gazebo with GUI -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find bluerov_ffg)/urdf/brov.xacro"/>
        <node name="spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model brov -param robot_description -x 3 -y 6.5 -z -10 -R 3.14927 -P 0 -Y 0"/>
        <rosparam file="$(find bluerov_ffg)/config/brov.yaml" command="load"/>
        
        <!-- Load controller configurations (vehicle and arm) from YAML file to parameter server -->
        <rosparam file="$(find bluerov_ffg)/config/brov.yaml" command="load"/>
        <node name="pid_control" pkg="freefloating_gazebo" type="pid_control" output="screen"/>
        
        <!-- Load gui if needed -->
        <node name="velocity_gui" pkg="slider_publisher" type="slider_publisher" output="screen" respawn="true" if="$(arg gui)">
        <param name="file" value="$(find bluerov_ffg)/launch/Velocity.yaml"/>
        </node>
    </group>
        
    <!-- spawn terrain -->
    <param name="terrain_description" command="$(find xacro)/xacro $(find freefloating_gazebo_demo)/terrain/shipwreck/terrain.sdf"/>
    <node name="terrain_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model terrain -param terrain_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
   
</launch>
